@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    padding: 0;
    margin: 0;
    font-family: 'Libre Franklin', sans-serif;
}
.navbar{
    color: white;
    background: rgb(16,15,24);
    background: linear-gradient(90deg, rgba(16,15,24,1) 0%, rgba(21,23,39,1) 51%, rgba(16,15,24,1) 100%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    border-bottom: #20182b 2px solid;
    height: 144px;
}

.nav-left{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-right{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-icon{
    color: #6546e0;
    margin-right: 30px;
    font-size: 40px;
}

.nav-notification{
    font-size: 30px;
}

.nav-pp{
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

.nav-header h1{
    color: white !important;
    font-size: 30px;
}

.nav-pp-container{
    margin-left: 30px;
}

.container{
    color: white;
    background: rgb(16,15,24);
    background: linear-gradient(90deg, rgba(16,15,24,1) 0%, rgba(21,23,39,1) 51%, rgba(16,15,24,1) 100%);
    height: calc(100vh - 144px) !important ;
}

.chat-list-container{
    border-right: #20182b 2px solid;
    padding: 30px;
}   

.chat-main-container{
    padding: 30px;
}

.chat-main-container h2{
    color: white;
}

.chat-list-header{
    color: white;
    margin-bottom: 30px;
}

.chat-list-header h2{
    color: white;
}

.chat-list-item-img{
    border-radius: 10px;
    width: 60px;
    height: 60px;
}

.chat-list-item-uname{
    color: #ede3ff;
}

.chat-list-item-lastMessage{
    color: gray;
    font-size: 12px;
}

.chat-list-item{
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
}

.chat-list-item:hover{
    background: rgb(25,24,43);
    background: linear-gradient(90deg, rgba(25,24,43,1) 0%, rgba(20,18,30,1) 100%);
}

.chat-list{
    overflow: auto;
    overflow-x: hidden;
    max-height: 59vh;
}

.chat-list::-webkit-scrollbar {
    width: 10px;
}

.chat-list::-webkit-scrollbar-track {
    background: transparent; 
}

.chat-list::-webkit-scrollbar-thumb {
    background: #2d3a5f2c; 
    border-radius: 10px;
} 

.chat-list::-webkit-scrollbar-thumb:hover {
    background: #43568a; 
}

.chat-list-item-bottom{
    display: flex;
    justify-content: space-between;
    padding-right: 25px;
}

.main-chat{
    overflow: auto;
    overflow-x: hidden;
    max-height: 59vh;
}

.main-chat::-webkit-scrollbar {
    width: 10px;
}

.main-chat::-webkit-scrollbar-track {
    background: transparent; 
}

.main-chat::-webkit-scrollbar-thumb {
    background: #2d3a5f2c; 
    border-radius: 10px;
} 

.main-chat::-webkit-scrollbar-thumb:hover {
    background: #43568a; 
}

.chat-item img{
    border-radius: 10px;
    width: 35px;
    height: 35px;
}

.chat-item {
    display:flex;
    width: 100%;
}

.message-box{
    margin: 0px 20px;
    margin-bottom: 5px;
    padding: 10px;
    background-color: #19182b;
    border-radius: 10px;
    width: fit-content;
}

.chat-item-me{
    float: right;
    justify-content: flex-end;
}

.chat-item-me-box{
    display: flex;
    flex-flow: column;
    align-items: flex-end;
}

.message-box-me{
    background-color: #4e38a1;
}

.message-box-interlocutor{
    color: rgb(165, 165, 165);
}